# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# CareerForge Specific
.env
*.pdf
jobs.json
current_job_desc.txt
memory/telegram_model_state.json

# Python local environments
python_env
python_env/
venv/
__pycache__/
*.pyc
